<div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
    <mat-icon class="close-icon" (click)="dismissSuccessMessage()">close</mat-icon>
</div>

<div *ngIf="errorMessage" class="error-message-notification">
    <mat-icon class="close-icon" (click)="dismissErrorMessage()">close</mat-icon>
    {{ errorMessage }}
</div>



<div class="edituser">
    <div class="card">
        <div class="container p-2">
            <form class="edituserform" #editfrom="ngForm" (submit)="saveEditedData(editfrom.value)">
                <div class="inp-row">
                    <h2 class="title mb-3">Edit User</h2>
                    <div class="inp-field">
                        <div class="inp">
                            <label class="form-label">Select field to edit</label>
                            <select class="form-select" id="select-field" (change)="onFieldSelect($event)">
                                <option selected [disabled]="true">Select</option>
                                <option value="userName" *ngIf="isLoggedIn?.role !== 'ROLE_USER'" >Username</option>
                                <option value="email">Email</option>
                                <option value="firstName" *ngIf="isLoggedIn?.role !== 'ROLE_USER'">First name</option>
                                <option value="middleName" *ngIf="isLoggedIn?.role !== 'ROLE_USER'">Middle name</option>
                                <option value="lastName" *ngIf="isLoggedIn?.role !== 'ROLE_USER'">Last name</option>
                                <option value="phoneno">Phone number</option>
                                <option value="birthdate">Birthdate</option>
                                <option value="deptId" *ngIf="isLoggedIn?.role !== 'ROLE_USER'">Department</option>
                                <option value="gender" *ngIf="isLoggedIn?.role !== 'ROLE_USER'">Gender</option>
                                <option value="role" *ngIf="isLoggedIn?.role !== 'ROLE_USER'">Role</option>
                                <option value="designation" *ngIf="isLoggedIn?.role !== 'ROLE_USER'">Designation
                                </option>
                                <option value="password">Password</option>
                                <option value="address">Address</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="inp-row" *ngIf="selectedField === 'userName'">
                    <div class="inp-field">
                        <div class="inp">
                            <label class="form-label">New Username</label>
                            <input type="text" class="form-control" [(ngModel)]="newUsername" ngModel required
                                placeholder="Username" name="userName" #userName="ngModel" pattern="^[A-Za-z]+$"
                                [ngClass]="{invalid:
                    userName.invalid && (userName.dirty || userName.touched),
                  valid: userName.valid && (userName.dirty || userName.touched) }" />
                            <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="error-message">
                                <span *ngIf="userName.errors?.['required']">Please enter Username</span>
                                <span *ngIf="userName.errors?.['pattern']">Please enter only alphabets</span>
                            </div>
                            <span *ngIf="u.userName?.toLowerCase() == this.newUsername.toLowerCase()"
                                class="error-message">Entered username is same as previous Username</span>
                        </div>
                    </div>
                </div>

                <div class="inp-row" *ngIf="selectedField === 'email'">
                    <div class="inp-field">
                        <div class="inp">
                            <label class="form-label">New Email</label>
                            <input type="text" class="form-control" [(ngModel)]="newEmail" id="email"
                                placeholder="Email" ngModel name="email" #email="ngModel" required
                                pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" [ngClass]="{
                  invalid: email.invalid && (email.dirty || email.touched),
                  valid: email.valid && (email.dirty || email.touched) }" />
                            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error-message">
                                <span *ngIf="email.errors?.['required']">Email is required.</span>
                                <span *ngIf="email.errors?.['pattern']">Email must contain @ and . symbols.</span>
                            </div>
                            <span *ngIf="u.email?.toLowerCase() == this.newEmail.toLowerCase()"
                                class="error-message">Entered email is same as previous email</span>
                        </div>
                    </div>
                </div>

                <div class="inp-row" *ngIf="selectedField === 'firstName' ">
                    <div class="inp-field">
                        <div class="inp">
                            <label class="form-label">New First name</label>
                            <input type="text" class="form-control" [(ngModel)]="newfirstName" id="firstname"
                                placeholder="First name" ngModel name="firstName" required #firstName="ngModel"
                                pattern="^[A-Za-z]+$" [ngClass]="{'invalid': firstName.invalid && (firstName.dirty || firstName.touched), 'valid': firstName.valid && (firstName.dirty ||
                                firstName.touched)}">
                            <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
                                class="error-message">
                                <span *ngIf="firstName.errors?.['required']">Please enter first name</span>
                                <span *ngIf="firstName.errors?.['pattern']">Please enter only alphabets</span>
                            </div>
                            <span *ngIf="u.firstName?.toLowerCase() == this.newfirstName.toLowerCase()"
                                class="error-message">Entered name is same as
                                previous First Name</span>
                        </div>
                    </div>
                </div>

                <div class="inp-row" *ngIf="selectedField === 'middleName'">
                    <div class="inp-field">
                        <div class="inp">
                            <label class="form-label">New Middle name</label>
                            <input type="text" class="form-control" [(ngModel)]="newmiddleName" id="middlename"
                                placeholder="Middle name" ngModel name="middleName" required #middleName="ngModel"
                                pattern="^[A-Za-z]+$" [ngClass]="{'invalid': middleName.invalid && (middleName.dirty || middleName.touched), 'valid': middleName.valid && (middleName.dirty ||
                                middleName.touched)}">
                            <div *ngIf="middleName.invalid && (middleName.dirty || middleName.touched)"
                                class="error-message">
                                <span *ngIf="middleName.errors?.['required']">Please enter middle name</span>
                                <span *ngIf="middleName.errors?.['pattern']">Please enter only alphabets</span>
                            </div>
                            <span *ngIf="u.middleName?.toLowerCase() == this.newmiddleName.toLowerCase()"
                                class="error-message">Entered name is same as
                                previous middlename</span>
                        </div>
                    </div>
                </div>

                <div class="inp-row" *ngIf="selectedField === 'lastName'">
                    <div class="inp-field">
                        <div class="inp">
                            <label class="form-label">New Last name</label>
                            <input type="text" class="form-control" [(ngModel)]="newlastName" id="lastname"
                                placeholder="Last name" ngModel name="lastName" required #lastName="ngModel"
                                pattern="^[A-Za-z]+$" [ngClass]="{'invalid': lastName.invalid && (lastName.dirty || lastName.touched), 'valid': lastName.valid && (lastName.dirty ||
                                lastName.touched)}">
                            <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="error-message">
                                <span *ngIf="lastName.errors?.['required']">Please enter last name</span>
                                <span *ngIf="lastName.errors?.['pattern']">Please enter only alphabets</span>
                            </div>
                            <span *ngIf="u.lastName?.toLowerCase() == this.newlastName.toLowerCase()"
                                class="error-message">Entered name is same as
                                previous lastname</span>
                        </div>
                    </div>
                </div>

                <div class="inp-row" *ngIf="selectedField === 'phoneno'">
                    <div class="inp-field">
                        <div class="inp">
                            <label class="form-label">New Phone number</label>
                            <input type="text" class="form-control" [(ngModel)]="newphoneno" id="phoneno"
                                placeholder="Phone Number" ngModel name="phoneNumber" required #phoneNumber="ngModel"
                                pattern="^[0-9]{10}$" [ngClass]="{'invalid': phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched), 'valid': phoneNumber.valid && (phoneNumber.dirty ||
                                phoneNumber.touched)}">
                            <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)"
                                class="error-message">
                                <span *ngIf="phoneNumber.errors?.['required']">Please enter phone number</span>
                                <span *ngIf="phoneNumber.errors?.['pattern']">please enter 10 digits number</span>
                            </div>
                            <span *ngIf="u.phoneNumber?.toString() == this.newphoneno.toString()"
                                class="error-message">Entered phone number is same as
                                previous phone number</span>
                        </div>
                    </div>
                </div>

                <div class="inp-row" *ngIf="selectedField === 'birthdate'">
                    <div class="inp-field">
                        <div class="inp">
                            <label class="form-label">New Brthdate</label>
                            <input type="date" class="form-control" [(ngModel)]="newbirthdate" id="dob"
                                placeholder="dd-mm-yy" ngModel name="birthDate" required #birthDate="ngModel"
                                pattern="\d{4}-\d{2}-\d{2}" [ngClass]="{'invalid': birthDate.invalid && (birthDate.dirty || birthDate.touched), 'valid': birthDate.valid && (birthDate.dirty ||
                                birthDate.touched)}" max="2005-12-31" (keydown)="preventManualInput($event)">
                            <div *ngIf="birthDate.invalid && (birthDate.dirty || birthDate.touched)"
                                class="error-message">
                                <span *ngIf="birthDate.errors?.['required']">Please enter Birthdate</span>
                                <span *ngIf="birthDate.errors?.['pattern']">Please enter in YYYY-MM-DD</span>
                            </div>
                            <span *ngIf="u.birthDate?.toString() == this.birthDate.toString()"
                                class="error-message">Entered birthdate is same 
                                as
                                previous birthdate </span>
                        </div>
                    </div>
                </div>

                <div class="inp-row" *ngIf="selectedField === 'deptId'">
                    <div class="inp-field">
                        <div class="inp">
                            <label class="form-label">New Department</label>
                            <select class="form-select" ngModel name="deptId" required #deptId="ngModel"
                                [(ngModel)]="newdeptId" [ngClass]="{'invalid': deptId.invalid && (deptId.dirty || deptId.touched), 'valid': deptId.valid && (deptId.dirty ||
                                deptId.touched)}">
                                <option selected [disabled]="true">Select Department</option>
                                <option value=1>DEVELOPER</option>
                                <option value=3>QA</option>
                                <option value=4>MARKETING</option>
                                <option value=5>HR</option>
                            </select>
                            <div *ngIf="deptId.invalid && (deptId.dirty || deptId.touched)" class="error-message">
                                <span *ngIf="deptId.errors?.['required']">Please select department</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="inp-row" *ngIf="selectedField === 'gender'">
                    <div class="inp-field">
                        <div class="inp">
                            <label class="form-label">Select Gender</label>
                            <select class="form-select" ngModel name="gender" required #gender="ngModel"
                                [(ngModel)]="newgender" [ngClass]="{'invalid': gender.invalid && (gender.dirty || gender.touched), 'valid': gender.valid && (gender.dirty ||
                                gender.touched)}">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                            <div *ngIf="gender.invalid && (gender.dirty || gender.touched)" class="error-message">
                                <span *ngIf="gender.errors?.['required']">Select gender</span>
                            </div>
                            <span *ngIf="u.gender?.toString() == this.newgender.toString()"
                                class="error-message">Entered gender is same
                                as
                                previous gender</span>
                        </div>
                    </div>
                </div>

                <div class="inp-row" *ngIf="selectedField === 'role'">
                    <div class="inp-field">
                        <div class="inp">
                            <label class="form-label">New Role</label>
                            <select class="form-select" ngModel name="role" required #role="ngModel"
                                [(ngModel)]="newrole" [ngClass]="{'invalid': role.invalid && (role.dirty || role.touched), 'valid': role.valid && (role.dirty ||
                                role.touched)}">
                                <option selected [disabled]="true">Select Role</option>
                                <option value="ROLE_ADMIN">Admin</option>
                                <option value="ROLE_USER">User</option>
                            </select>
                            <div *ngIf="role.invalid && (role.dirty || role.touched)" class="error-message">
                                <span *ngIf="role.errors?.['required']">Please select role</span>
                            </div>
                            <span *ngIf="u.role?.toString() == this.newrole.toString()" class="error-message">Entered
                                role is same
                                as
                                previous role</span>
                        </div>
                    </div>
                </div>


                <div class="inp-row" *ngIf="selectedField === 'designation'">
                    <div class="inp-field">
                        <div class="inp">
                            <label class="form-label">Designation</label>
                            <input type="text" class="form-control" [(ngModel)]="newdesignation" id="designation"
                                ngModel name="designation" required #lastName="ngModel" pattern="^[A-Za-z.]+$"
                                [ngClass]="{'invalid': lastName.invalid && (lastName.dirty || lastName.touched), 'valid': lastName.valid && (lastName.dirty ||
                                            lastName.touched)}">
                            <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="error-message">
                                <span *ngIf="lastName.errors?.['required']">Please enter Designation</span>
                                <span *ngIf="lastName.errors?.['pattern']">Please enter only alphabets</span>
                            </div>
                            <span *ngIf="u.designation?.toString() == this.newdesignation.toString()"
                                class="error-message">Entered designation is same
                                as
                                previous designation </span>
                        </div>
                    </div>
                </div>


                <div class="inp-row" *ngIf="selectedField === 'password'">
                    <div class="inp-field">
                        <div class="inp">
                            <label class="form-label" for="password">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Password" ngModel
                                name="password" required #password="ngModel"
                                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@#$%^&+=]).{8,14}$" [ngClass]="{'invalid': password.invalid && (password.dirty || password.touched), 'valid': password.valid && (password.dirty ||
                            password.touched)}">
                            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error-message">
                                <span *ngIf="password.errors?.['required']">Please enter a strong password</span>
                                <span *ngIf="password.errors?.['pattern']">Please include one uppercase letter, one
                                    lowercase letter, one
                                    digit, one special character, and be 8-14 characters long</span>
                            </div>
                            <span *ngIf="u.password == this.newpassword" class="error-message">Entered password is same
                                as
                                previous password</span>
                        </div>
                        <div class="inp">
                            <label class="form-label" for="confirm_password">Confirm Password</label>
                            <input type="password" class="form-control" id="confirm_password"
                                placeholder="Confirm Password" ngModel name="confirmPassword" required
                                #confirmPassword="ngModel" [ngClass]="{'invalid': confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched), 'valid': confirmPassword.valid && (confirmPassword.dirty ||
                            confirmPassword.touched)}" [pattern]="password.value" appMatchPassword>
                            <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
                                class="error-message">
                                <span *ngIf="confirmPassword.errors?.['required']">Please enter the confirmation
                                    password</span>
                                <span *ngIf="confirmPassword.errors?.['pattern']">Passwords do not match</span>
                            </div>

                        </div>
                    </div>
                </div>



                <div class="inp-row" *ngIf="selectedField === 'address'">
                    <div class="inp-field">
                        <div class="inp">
                            <label class="form-label">New Address</label>
                            <input type="text" class="form-control" [(ngModel)]="newUsername" ngModel required
                                placeholder="Address" name="address" #address="ngModel"
                                pattern="[A-Za-z0-9 !@#$%^&*()-_+=]+" [ngClass]="{
                                  invalid:address.invalid && (address.dirty || address.touched),
                                  valid: address.valid && (address.dirty || address.touched)
                                }" />
                            <div *ngIf="address.invalid && (address.dirty || address.touched)" class="error-message">
                                <span *ngIf="address.errors?.['required']">Please enter address</span>
                                <span *ngIf="address.errors?.['pattern']">Please enter address</span>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col text-end suv-btn">
                    <button type="reset" class="btn btn-maroon" (click)="dismissDialogBox()">Cancel</button>
                    <button type="submit" class="btn btn-maroon" [disabled]="!editfrom.valid || !selectedField || 
                                     u.userName?.toLowerCase() == this.newUsername.toLowerCase() ||
                                     u.email?.toLowerCase() == this.newEmail.toLowerCase() ||
                                     u.firstName?.toLowerCase() == this.newfirstName.toLowerCase() ||
                                     u.middleName?.toLowerCase() == this.newmiddleName.toLowerCase() ||
                                     u.lastName?.toLowerCase() == this.newlastName.toLowerCase() ||
                                     u.phoneNumber?.toString() == this.newphoneno.toString() ||
                                     u.gender?.toString() == this.newgender.toString() ||
                                     u.role?.toString() == this.newrole.toString() ||
                                     u.designation?.toString() == this.newdesignation.toString() ||
                                     u.password?.toString() == this.newpassword.toString() "  >
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>