<div class="container-form">
    <form class="reset-form" #resetPass="ngForm" (ngSubmit)="onSubmit(resetPass.value)">
        <h2>Reset Password</h2>
        <div>
            <div class="label">
                <mat-icon>person</mat-icon>
                <label for="email">Email</label>
            </div>
            <input type="email" id="email" name="email" ngModel #email="ngModel" required
                pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                [ngClass]="{'invalid': email.invalid && (email.dirty || email.touched), 'valid': email.valid && (email.dirty || email.touched)}">
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error-message">
                <span *ngIf="email.errors?.['required']">Email is required.</span>
                <span *ngIf="email.errors?.['pattern']">Email must contain @ and . symbols.</span>
            </div>
        </div>
        <button type="submit" class="btn btn-maroon" id="resP">Submit</button>
    </form>

</div>


