<nav class="navbar navbar-expand px-2" style="background-color: #800000;">

<div class="side-nav-button p-2 me-3 text-dark" (click)="SideNavToggle()">
    <i class="fa-solid fa-bars"></i>
</div>

<a class="navbar-brand px-4" href="#">QDTAS</a>

<div class="navbar-collapse">
<ul class="navbar-nav ms-auto">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            <img src="assets\images\logo.png" alt="Vishal Shelke" style="color: whitesmoke; height: 30px; width: 30px">
            
        </a>
            <ul class="dropdown-menu dropdown-menu-light dropdown-menu-end">
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>
    </li>
</ul>
</div>





</nav>