.dialog-title {
    font-weight: bold;
}

.dialog-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.no-button {
    width: 45%;
    border: 1px solid red;
    background-color: red;
    color: white;
    /* White text */
}

.yes-button {
    width: 45%;
    border: 1px solid green;
    background-color: green;
    color: white
        /* White text */
}