<div class="adduser">

    <div class="card">
        <div class="container p-2">
            <form class="adduserform" #addUserData="ngForm" (submit)="saveUser(addUserData.value)">
                <div class="inp-row">
                    <h2 class="title mb-3">Add User</h2>
                    <div class="inp-field">
                        <div class="inp">
                            <label class="form-label">Username</label>
                            <input type="text" class="form-control" id="username" placeholder="Username" ngModel required
                                name="userName"  #userName="ngModel" pattern="^[A-Za-z]+$"  
                                [ngClass]="{'invalid': userName.invalid && (userName.dirty || userName.touched), 'valid': userName.valid && (userName.dirty ||
                                userName.touched)}">  
                                
                                <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="error-message">
                                    <span *ngIf="userName.errors?.['required']">Please enter Username</span>
                                    <span *ngIf="userName.errors?.['pattern']">Please enter only alphabets</span>
                                </div>
                        </div>
                        <div class="inp">
                            <label class="form-label">Email</label>
                            <input type="text" class="form-control" id="email" placeholder="Email" ngModel name="email"  #email="ngModel" required
                                pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                                [ngClass]="{'invalid': email.invalid && (email.dirty || email.touched), 'valid': email.valid && (email.dirty || email.touched)}">
                                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error-message">
                                <span *ngIf="email.errors?.['required']">Email is required.</span>
                                <span *ngIf="email.errors?.['pattern']">Email must contain @ and . symbols.</span>
                                </div>
                        </div>
                    </div>
                    <div class="inp-field">
                        <div class="inp">
                            <label class="form-label">First Name</label>
                            <input type="text" class="form-control" id="firstname" placeholder="First name" ngModel
                                name="firstName" required #firstName="ngModel"
                                pattern="^[A-Za-z]+$" 
                                [ngClass]="{'invalid': firstName.invalid && (firstName.dirty || firstName.touched), 'valid': firstName.valid && (firstName.dirty ||
                                firstName.touched)}">
                                <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="error-message">
                                    <span *ngIf="firstName.errors?.['required']">Please enter first name</span>
                                    <span *ngIf="firstName.errors?.['pattern']">Please enter only alphabets</span>
                                </div>
                        </div>
                        <div class="inp">
                            <label class="form-label">Middle Name</label>
                            <input type="text" class="form-control" id="middlename" placeholder="Middle name" ngModel
                                name="middleName"  required #middleName="ngModel"
                                pattern="^[A-Za-z]+$" 
                                [ngClass]="{'invalid': middleName.invalid && (middleName.dirty || middleName.touched), 'valid': middleName.valid && (middleName.dirty ||
                                firstName.touched)}">
                                <div *ngIf="middleName.invalid && (middleName.dirty || firstName.touched)" class="error-message">
                                    <span *ngIf="middleName.errors?.['required']">Please enter middle name</span>
                                    <span *ngIf="middleName.errors?.['pattern']">Please enter only alphabets</span>
                                </div>
                        </div>
                    </div>
                    <div class="inp-field">
                        <div class="inp">
                            <label class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="lastname" placeholder="Last name" ngModel
                                name="lastName"  required #lastName="ngModel"
                                pattern="^[A-Za-z]+$" 
                                [ngClass]="{'invalid': lastName.invalid && (lastName.dirty || lastName.touched), 'valid': lastName.valid && (lastName.dirty ||
                                lastName.touched)}">
                                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="error-message">
                                    <span *ngIf="lastName.errors?.['required']">Please enter last name</span>
                                    <span *ngIf="lastName.errors?.['pattern']">Please enter only alphabets</span>
                                </div>
                        </div>
                        <div class="inp">
                            <label class="form-label">DOB</label>
                            <input type="date" name="datafield" class="form-control" id="dob" placeholder="dd-mm-yy"
                                ngModel name="birthDate"   required #birthDate="ngModel"
                                pattern="\d{4}-\d{2}-\d{2}" 
                                [ngClass]="{'invalid': birthDate.invalid && (birthDate.dirty || birthDate.touched), 'valid': birthDate.valid && (birthDate.dirty ||
                                birthDate.touched)}">
                                <div *ngIf="birthDate.invalid && (birthDate.dirty || birthDate.touched)" class="error-message">
                                    <span *ngIf="birthDate.errors?.['required']">Please enter Birthdate</span>
                                    <span *ngIf="birthDate.errors?.['pattern']">Please enter  in YYYY-MM-DD</span>
                                </div>
                        </div>
                    </div>
                    <div class="inp-field">
                        <div class="inp">
                            <label class="form-label" for="password">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Password" ngModel
                                name="password"   required #password="ngModel"
                                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@#$%^&+=]).{8,14}$" 
                                [ngClass]="{'invalid': password.invalid && (password.dirty || password.touched), 'valid': password.valid && (password.dirty ||
                                password.touched)}">
                                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error-message">
                                    <span *ngIf="password.errors?.['required']">Please enter strong password</span>
                                    <span *ngIf="password.errors?.['pattern']">please enter one uppercase,one lowercase, one special character, one symbol</span>
                                </div>
                        </div>
                        <div class="inp">
                            <label class="form-label" for="confirm_password">Confirm Password</label>
                            <input type="password" class="form-control" id="confirm_password"
                                placeholder="Confirm Password" ngModel name="confirmPassword"  required #confirmPassword="ngModel"
                                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@#$%^&+=]).{8,14}$" 
                                [ngClass]="{'invalid': confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched), 'valid': confirmPassword.valid && (confirmPassword.dirty ||
                                confirmPassword.touched)}">
                                <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="error-message">
                                    <span *ngIf="confirmPassword.errors?.['required']">Please enter strong password</span>
                                    <span *ngIf="confirmPassword.errors?.['pattern']">please enter one uppercase,one lowercase, one special character, one symbol</span>
                                </div>
                        </div>
                    </div>
                    <div class="inp-field">
                        <div class="inp">
                            <label class="form-label">Gender</label>
                            <select class="form-control" ngModel name="gender"  required #gender="ngModel"
                                [ngClass]="{'invalid': gender.invalid && (gender.dirty || gender.touched), 'valid': gender.valid && (gender.dirty ||
                                gender.touched)}">
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                </select>
                                <div *ngIf="gender.invalid && (gender.dirty || gender.touched)" class="error-message">
                                    <span *ngIf="gender.errors?.['required']">Select gender</span> 
                                </div>
                               
                        </div>
                        <div class="inp">
                            <label class="form-label">Phone Number</label>
                            <input type="text" class="form-control" id="phoneno" placeholder="Phone No." ngModel
                                name="phoneno"  required #phoneno="ngModel"
                                pattern="^[0-9]{10}$" 
                                [ngClass]="{'invalid': phoneno.invalid && (phoneno.dirty || phoneno.touched), 'valid': phoneno.valid && (phoneno.dirty ||
                                phoneno.touched)}">
                                <div *ngIf="phoneno.invalid && (phoneno.dirty || phoneno.touched)" class="error-message">
                                    <span *ngIf="phoneno.errors?.['required']">Please enter phone number</span>
                                    <span *ngIf="phoneno.errors?.['pattern']">please enter 10 digits number</span>
                                </div>
                        </div>
                    </div>
                    <div class="inp-field">
                        <div class="inp">
                            <label class="form-label">Department</label>
                            <select class="form-control" ngModel name="deptId"  required #deptId="ngModel"
                                [ngClass]="{'invalid': deptId.invalid && (deptId.dirty || deptId.touched), 'valid': deptId.valid && (deptId.dirty ||
                                deptId.touched)}">
                                <option selected>Select Department</option>
                                <option value=1>DEVELOPER</option>
                                <option value=3>QA</option>
                                <option value=4>MARKETING</option>
                                <option value=5>HR</option>
                                </select>
                                <div *ngIf="deptId.invalid && (deptId.dirty || deptId.touched)" class="error-message">
                                    <span *ngIf="deptId.errors?.['required']">Please select department</span> 
                                   
                                </div>
                                
                        </div>
                        <div class="inp">
                            <label class="form-label">Role</label>
                            <select class="form-control" ngModel name="role"  required #role="ngModel"
                                
                                [ngClass]="{'invalid': role.invalid && (role.dirty || role.touched), 'valid': role.valid && (role.dirty ||
                                role.touched)}">
                                <option selected>Select Role</option>
                                <option value="ROLE_ADMIN">Admin</option>
                                <option value="ROLE_USER">User</option>
                                </select>
                                <div *ngIf="role.invalid && (role.dirty || role.touched)" class="error-message">
                                    <span *ngIf="role.errors?.['required']">Please select role</span> 
                                </div>
                              
                        </div>
                    </div>
                    <div>
                        <div class="col text-end suv-btn">
                            <button class="btn btn-maroon" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="card">
        <div class="container p-2">
            <form>
                <input type="text" id="myInput" onkeyup="tableSearch()" placeholder="Search.." name="search">

                <table class="table" id="myTable">
                    <tr class="header">
                        <th style="width:15%;">Username</th>
                        <th style="width:15%;">First name</th>
                        <th style="width:20%;">Middle name</th>
                        <th style="width:15%;">Last name</th>
                        <th style="width:5%;">Gender</th>
                        <th style="width:15%;">Department</th>
                        <th style="width:15%;">Phone no.</th>
                        <th style="width:10%;">Designation</th>
                        <th style="width:10%;">Action</th>
                    </tr>
                    <tr *ngFor="let user of users; let i = index">
                        <td>{{ user.username }}</td>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.middleName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.gender }}</td>
                        <td>{{ user.department }}</td>
                        <td>{{ user.phoneno }}</td>
                        <td>{{ user.role }}</td>
                        <td>
                            <div class="icon-container">
                                <i class="fa-solid fa-pen-to-square" routerLink="/edit-user"></i>
                                <span class="icon-space"></span>
                                <i class="fa-solid fa-trash-can"  (click)="deleteUser(i)" ></i>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

    <!-- <div class="card">
    <div class="container p-2">
        <form>
            <input type="text" id="myInput" onkeyup="tableSearch()" placeholder="Search.." name="search">


            <table class="table" id="myTable" *ngIf="users && users.length">
                <tr class="header">
                    <th style="width:15%;">Username</th>
                    <th style="width:15%;">First name</th>
                    <th style="width:20%;">Middle name</th>
                    <th style="width:15%;">Last name</th>
                    <th style="width:5%;">Gender</th>
                    <th style="width:15%;">Department</th>
                    <th style="width:15%;">Phone no.</th>
                    <th style="width:10%;">Designation</th>
                </tr>
                <tr>
                    <td>lee12</td>
                    <td>Leena</td>
                    <td>Mahesh</td>
                    <td>Birla</td>
                    <td>Female</td>
                    <td>Frontend</td>
                    <td>1234567890</td>
                    <td>Fresher</td>

                </tr>
                <tr>
                    <td>Tanmay45</td>
                    <td>Tanmay</td>
                    <td>Suresh</td>
                    <td>Waghole</td>
                    <td>Male</td>
                    <td>Backend</td>
                    <td>0987654321</td>
                    <td>Manager</td>
                </tr>
                <tr>
                    <td *ngFor="let user of users; let i = index"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </form>

        <script>
            function tableSearch() {
                let input, filter, table, tr, td, i, txtvalue;

                input = doucument.getElementById("myInput");
                filter = input.value.toUpperCase();
                table = document.getElementById("myTable");
                tr = getElementsByTagName("tr");

                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];
                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }



        </script>

    </div>
</div> -->

</div>