<div class="container-fluid g-0">
    <app-header> </app-header>

    <main>
        <app-sidenav (toggle)="onToggleSidebar($event)"></app-sidenav>


        <div class="display-area" [ngClass]="{'expanded': isSidebarExpanded, 'collapsed': !isSidebarExpanded}">

            <div *ngIf="successMessage" class="success-message">
                {{ successMessage }}
                <mat-icon class="close-icon" (click)="dismissSuccessMessage()">close</mat-icon>
            </div>

            <div *ngIf="errorMessage" class="error-message-notification">
                {{ errorMessage }}
                <mat-icon class="close-icon" (click)="dismissErrorMessage()">close</mat-icon>
            </div>
            <div class="card">
                <div class="container p-2">
                    <form class="leaveform" #leaveForm="ngForm" (submit)="applyLeave(leaveForm.value)">
                        <div class="inp-row">
                            <h2 class="title mb-3">Leave Application</h2>
                            <div class="inp-field">
                                
                                <!-- <div class="inp">
                                     <mat-form-field class="inp-date">
                                    <input matInput [matDatepicker]="startPicker" [min]="minDate" ngModel name="startDate" id="sDate"
                                        [(ngModel)]="startDate" placeholder="Choose Start Date">
                                    <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                                    <mat-datepicker #startPicker></mat-datepicker>
                                </mat-form-field>
                                </div> -->
                                <div class="inp">
                                    <mat-form-field class="inp-date">
                                        <input matInput [matDatepicker]="startPicker" [min]="minDate" [(ngModel)]="startDate" name="startDate"
                                            id="sDate" placeholder="Choose Start Date" #startDateInput="ngModel" required>
                                        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                                        <mat-datepicker #startPicker></mat-datepicker>
                                        <mat-error class="error-message" *ngIf="startDateInput.invalid && (startDateInput.dirty || startDateInput.touched)">
                                            <span *ngIf="startDateInput.errors?.['required']">Start Date is required</span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>


                                <!-- <div class="inp">
                                <mat-form-field class="inp-date">
                                    <input matInput [matDatepicker]="endPicker" [min]="startDate" ngModel name="endDate"  id="eDate"
                                        placeholder="Choose End Date">
                                    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                                    <mat-datepicker #endPicker></mat-datepicker>
                                </mat-form-field>
                            </div> -->
                            <div class="inp">
                                <mat-form-field class="inp-date">
                                    <input matInput [matDatepicker]="endPicker" [min]="startDate" ngModel name="endDate"
                                        id="eDate" placeholder="Choose End Date" #endDateInput="ngModel" required>
                                    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                                    <mat-datepicker #endPicker></mat-datepicker>
                                    <mat-error class="error-message" *ngIf="endDateInput.invalid && (endDateInput.dirty || endDateInput.touched)">
                                        <span *ngIf="endDateInput.errors?.['required']">End Date is required</span>
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            </div>


                            


                            

                            <div class="inp-field">
                                <div class="inp">
                                    <label class="form-label">Leave Type</label>
                                    <select class="form-select" id="leavetype" name="type" ngModel required
                                        #leavetype="ngModel" [ngClass]="{'invalid': leavetype.invalid && (leavetype.dirty || leavetype.touched), 'valid': leavetype.valid && (leavetype.dirty ||
                                leavetype.touched)}">
                                        <option selected>---Select---</option>
                                        <option value="Personal">Personal</option>
                                        <option value="Sick">Sick</option>
                                        <option value="Maternity">Maternity</option>
                                    </select>
                                    <div *ngIf="leavetype.invalid && (leavetype.dirty || leavetype.touched)"
                                        class="error-message">
                                        <span *ngIf="leavetype.errors?.['required']">Please select Leave</span>
                                    </div>
                                </div>
                                <div class="inp">
                                    <label class="form-label">Reason</label>
                                    <textarea class="form-control" id="reason" placeholder="Enter Reason for Leave"
                                        ngModel name="reason" required #reason="ngModel" [ngClass]="{'invalid': reason.invalid && (reason.dirty || reason.touched), 
                                     'valid': reason.valid && (reason.dirty || reason.touched)}"
                                        pattern="[^\s].*"> </textarea>
                                    <div *ngIf="reason.invalid && (reason.dirty || reason.touched)"
                                        class="error-message">
                                        <span *ngIf="reason.errors?.['required']">Reason is required</span>
                                        <span *ngIf="reason.errors?.['pattern']">Reason must not be blank</span>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="col text-end suv-btn">
                                    <button class="btn btn-maroon" type="reset">Reset</button>
                                    <button class="btn btn-maroon" type="submit"
                                        [disabled]="!leaveForm.valid">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


            <!-- <div class="card">
                <div class="container p-2">
                    <form>

                        <div class="table-container">
                            <table class="table" id="myTable">
                                <tr class="header">
                                    <th style="width:15%;">Employee name</th>
                                    <th style="width:15%;">Start Date</th>
                                    <th style="width:15%;">End Date</th>
                                    <th style="width:20%;">Leave Type</th>
                                    <th style="width:15%;">Reason</th>
                                    <th style="width:15%;">Status</th>
                                    <th style="width:10%;">Action</th>
                                </tr>
                                <tr *ngFor="let l of leaves; let i = index">
                                    <td>{{ l.employee.firstName + " " + l.employee.lastName}}</td>
                                    <td>{{ l.startDate }}</td>
                                    <td>{{ l.endDate }}</td>
                                    <td>{{l.type}}</td>
                                    <td>{{ l.reason }}</td>

                                    <td [ngStyle]="{ 'background-color': getStatusColor(l.status) }">{{ l.status }}</td>
                                    <td>
                                        <div class="icon-container">
                                            <mat-icon (click)="approveLeave(l.leaveId)" *ngIf="l.status == 'PENDING' "
                                                style="color: green;">check</mat-icon>
                                            <mat-icon (click)="rejectLeave(l.leaveId)" *ngIf="l.status == 'PENDING' "
                                                style="color: red;">close</mat-icon>
                                            <mat-icon (click)="deleteLeave(l.leaveId)"
                                                *ngIf="l.status == 'REJECTED' || l.status =='APPROVED' "
                                                style="color: red;">delete</mat-icon>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        
                        <div *ngIf="isLoading" class="loading-bar">
                            <div class="spinner-container">
                                <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
                            </div>
                        </div>
                        
                        <div class="load-button">
                            <button (click)="loadMoreleaves()" *ngIf="hasMoreResult" mat-raised-button color="primary"
                                style="background-color: maroon;" class="rounded-pill align-middle text-center">
                                Load More
                            </button>
                        </div>

                    </form>
                </div>
            </div> -->

            <div class="card">
            
                <div class="table-container">
                <table  mat-table [dataSource]="dataSource" class="mat-elevation-z8 ">
            
                    <!-- ID Column -->
                    <ng-container matColumnDef="employee">
                            <th  mat-header-cell *matHeaderCellDef class="center"> Employee-ID </th>
                            <td mat-cell *matCellDef="let leave" class="center"> {{leave.employee.userId}} </td>
                    </ng-container>
            
                    <!-- Start Date Column -->
                    <ng-container matColumnDef="startDate">
                        <th mat-header-cell *matHeaderCellDef class="center"> Start Date </th>
                        <td mat-cell *matCellDef="let leave" class="center"> {{leave.startDate}} </td>
                    </ng-container>
            
                    <!-- End Date Column -->
                    <ng-container matColumnDef="endDate">
                        <th mat-header-cell *matHeaderCellDef class="center"> End Date </th>
                        <td mat-cell *matCellDef="let leave" class="center"> {{leave.endDate}} </td>
                    </ng-container>
            
                    <!-- Reason Column -->
                    <ng-container matColumnDef="reason">
                        <th mat-header-cell *matHeaderCellDef class="center"> Reason </th>
                        <td mat-cell *matCellDef="let leave" class="center"> {{leave.reason}} </td>
                    </ng-container>
            
                    <!-- ID Column -->
                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef class="center"> Type </th>
                        <td mat-cell *matCellDef="let leave" class="center"> {{leave.type}} </td>
                    </ng-container>
            
                    <!-- ID Column -->
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef class="center"> Status </th>
                        <td mat-cell *matCellDef="let leave" class="center"> {{leave.status}} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef class="center" > Actions </th>
                        <td mat-cell *matCellDef="let leave" class="center"  >
                            <button *ngIf="leave.status == 'APPROVED' || leave.status == 'REJECTED'" mat-icon-button
                                (click)="deleteLeave(leave.leaveId)" color="warn">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <button *ngIf="leave.status == 'PENDING'" mat-icon-button color="primary"
                                (click)="approveLeave(leave.leaveId)">
                                <mat-icon>done</mat-icon>
                            </button>
            
                            <button *ngIf="leave.status == 'PENDING'" mat-icon-button color="warn"
                                (click)="rejectLeave(leave.leaveId)">
                                <mat-icon>clear</mat-icon>
                            </button>
            
                        </td>
                    </ng-container>
            
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                </div>
                <div *ngIf="isLoading" class="loading-bar">
                    <div class="spinner-container">
                        <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
                    </div>
                </div>
                
                <div class="load-button">
                    <button (click)="loadMoreleaves()" *ngIf="hasMoreResult" mat-raised-button color="primary"
                        style="background-color: maroon;" class="rounded-pill align-middle text-center">
                        Load More
                    </button>
                </div>
        </div>
        </div>
    </main>
</div>