<div class="container-fluid g-0">
    <app-header> </app-header>

    <main>
        <app-sidenav (toggle)="onToggleSidebar($event)"></app-sidenav>


        <div class="display-area" [ngClass]="{'expanded': isSidebarExpanded, 'collapsed': !isSidebarExpanded}">

            <div *ngIf="successMessage" class="success-message">
                {{ successMessage }}
                <mat-icon class="close-icon" (click)="dismissSuccessMessage()" >close</mat-icon>
            </div>
            
            <div *ngIf="errorMessage" class="error-message">
                {{ errorMessage }}
                <mat-icon class="close-icon" (click)="dismissErrorMessage()">close</mat-icon>
            </div>
            <div class="card">
                <div class="container p-2">
                    <form class="leaveform" #leaveForm="ngForm" (submit)="applyLeave(leaveForm.value)">
                        <div class="inp-row">
                            <h2 class="title mb-3">Leave Application</h2>
                            <div class="inp-field">
                                <div class="inp">
                                    <label class="form-label">Start Date</label>
                                    <input type="date" class="form-control" id="startDate" ngModel name="startDate">
                                </div>
                                <div class="inp">
                                    <label class="form-label">End Date</label>
                                    <input type="date" class="form-control" id="endtdate" ngModel name="endDate">
                                </div>
                            </div>



                            <div class="inp-field">
                                <div class="inp">
                                    <label class="form-label">Leave Type</label>
                                    <select class="form-select" id="leavetype" name="type" ngModel>
                                        <option selected>---Select---</option>
                                        <option value="Personal">Personal</option>
                                        <option value="Sick">Sick</option>
                                        <option value="Maternity">Maternity</option>
                                    </select>
                                </div>
                                <div class="inp">
                                    <label class="form-label">Reason</label>
                                    <textarea class="form-control" id="reason" placeholder="Enter Reason for Leave"
                                        ngModel name="reason"> </textarea>
                                </div>
                            </div>

                            <div>
                                <div class="col text-end suv-btn">
                                    <button class="btn btn-maroon" type="submit">Cancel</button>
                                    <button class="btn btn-maroon" type="submit">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


            <div class="card">
                <div class="container p-2">
                    <form>
                        <input type="text" id="myInput" onkeyup="tableSearch()" placeholder="Search.." name="search">

                        <table class="table" id="myTable">
                            <tr class="header">
                                <th style="width:15%;">Start Date</th>
                                <th style="width:15%;">End Date</th>
                                <th style="width:20%;">Leave Type</th>
                                <th style="width:15%;">Reason</th>
                                <th style="width:10%;">Action</th>
                            </tr>
                            <tr *ngFor="let l of leaves; let i = index">
                                <td>{{ l.startDate }}</td>
                                <td>{{ l.endDate }}</td>
                                <td>{{l.type}}</td>
                                <td>{{ l.reason }}</td>

                                <td>
                                    <div class="icon-container">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                        <span class="icon-space"></span>
                                        <i class="fa-solid fa-trash-can" (click)="deleteUser(l.leaveId)"></i>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <button (click)="loadMoreleaves()" *ngIf="hasMoreResult" mat-raised-button color="primary"
                            class="rounded-pill align-middle text-center">
                            Load More
                        </button>
                    </form>
                </div>
            </div>

        </div>
    </main>
</div>