<div class="body">

    <div class="background"> </div>

    <div class="container-title">
        <img src="assets/images/logo.png" alt="Description of the image">
        <h1>QDTAS HRM</h1>
    </div>

    <div class="container-form">
        <form class="login-form" #login="ngForm" (ngSubmit)="userLogin(login.value)">
            <h2>Login</h2>
            <div *ngIf="showMessage" class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <i>{{message}}</i>
            </div>
            <div>

                <div class="label">
                    <mat-icon>person</mat-icon>
                    <label for="email">Email</label>
                </div>
                <input type="email" id="email" name="email" ngModel #email="ngModel" required
                    pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                    [ngClass]="{'invalid': email.invalid && (email.dirty || email.touched), 'valid': email.valid && (email.dirty || email.touched)}">
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error-message">
                    <span *ngIf="email.errors?.['required']">Email is required.</span>
                    <span *ngIf="email.errors?.['pattern']">Email must contain @ and . symbols.</span>
                </div>
            </div>
            <div>
                <div class="label">
                    <mat-icon> vpn_key</mat-icon>
                    <label for="password">Password</label>
                </div>
                <input type="password" id="password" name="password" ngModel #password="ngModel" required
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                    [ngClass]="{'invalid': password.invalid && (password.dirty || password.touched), 'valid': password.valid && (password.dirty || password.touched)}">
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error-message">
                    <span *ngIf="password.errors?.['required']">Password is required.</span>
                    <span *ngIf="password.errors?.['pattern']">Password must contain at least 8 characters, one
                        uppercase
                        letter,
                        one lowercase letter, one number, and one special character.</span>
                </div>
            </div>
            <div *ngIf="isLoading" class="loading-bar">
                <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
            </div>
            <button type="submit" class="btn btn-maroon" [disabled]="!login.valid">Submit</button>

            <div class="fixed-content">
                <a routerLink="/reset" id="forgetP">Forgot password?</a>
                <p class="version">QDTAS HRM 1.1 <br> ©2023 - 2024 QDTAS HRM, Inc. All rights reserved.</p>
            </div>
        </form>

        <div class="socials">
            <a class="btn" href="#!" role="button">
                <i class="fab fa-instagram"></i>
            </a>
            <a class="btn" href="#!" role="button">
                <i class="fab fa-facebook-f"></i>
            </a>

        </div>

    </div>

</div>