<div class="container-form">
    <form class="reset-password" #changeTemp="ngForm" (submit)="changeTempPass(changeTemp.value)">
        <h2>Reset Password</h2>
        <div class="label">
            <mat-icon>person</mat-icon>
            <label for="email">Email</label>
        </div>
        <input type="email" id="email" name="email" ngModel #email="ngModel" required
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
            [ngClass]="{'invalid': email.invalid && (email.dirty || email.touched), 'valid': email.valid && (email.dirty || email.touched)}">
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error-message">
            <span *ngIf="email.errors?.['required']">Email is required.</span>
            <span *ngIf="email.errors?.['pattern']">Email must contain @ and . symbols.</span>
        </div>
        <div>
            <div class="label">
                <mat-icon> vpn_key</mat-icon>
                <label for="oldP">Temporary Password</label>
            </div>
            <input type="password" class="form-control" id="oldP" placeholder="Temporary Password" ngModel name="oldP"
                required #oldP="ngModel" [ngClass]="{'invalid': oldP.invalid && (oldP.dirty || oldP.touched), 'valid': oldP.valid && (oldP.dirty ||
                                oldP.touched)}">
        </div>
        <div>
            <div class="label">
                <mat-icon> vpn_key</mat-icon>
                <label for="newP">New Password</label>
            </div>
            <input type="password" class="form-control" id="newP" placeholder="New Passsword" ngModel name="newP"
                required #newP="ngModel" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@#$%^&+=]).{8,14}$" [ngClass]="{'invalid': newP.invalid && (newP.dirty || newP.touched), 'valid': newP.valid && (newP.dirty ||
                newP.touched)}">
            <div *ngIf="newP.invalid && (newP.dirty || newP.touched)" class="error-message">
                <span *ngIf="newP.errors?.['required']">Please enter strong password</span>
                <span *ngIf="newP.errors?.['pattern']">please enter one uppercase,one lowercase, one special
                    character, one symbol</span>
            </div>
        </div>
        <div>
            <div class="label">
                <mat-icon> vpn_key</mat-icon>
                <label for="password">Confirm Password</label>
            </div>
            <input type="password" class="form-control" id="confirm_password" placeholder="Confirm Password" ngModel
                #confirmPassword="ngModel" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@#$%^&+=]).{8,14}$" [ngClass]="{'invalid': confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched), 'valid': confirmPassword.valid && (confirmPassword.dirty ||
                confirmPassword.touched)}">
            <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
                class="error-message">
                <span *ngIf="confirmPassword.errors?.['required']">Please enter strong password</span>
                <span *ngIf="confirmPassword.errors?.['pattern']">please enter one uppercase,one lowercase, one special
                    character, one symbol</span>
            </div>
        </div>
        <button type="submit" class="btn btn-maroon" id="tempP">Submit</button>
    </form>

</div>