.app-header {
  z-index: -1;
}

.display-area {
  overflow: hidden;
  transition: margin 0.3s ease;
}

.expanded {
  margin-left: 80px;
  margin-right: 20px;
}

.collapsed {
  margin-left: 270px;
  margin-right: 20px;
}

.success-message {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 20%;
  background-color: green;
  color: white;
  padding: 10px;
  text-align: center;
  z-index: 1000;
}

.error-message-notification {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 25%;
  background-color: red;
  color: white;
  padding: 10px;
  text-align: center;
  z-index: 1000;
}

.myinfo {
  overflow: hidden;
}

.myinform {
  display: flex;
  flex-direction: row;
}

.container-fluid {
  overflow: hidden;
}

.title {
  border-radius: 5px;
  font-size: 24px !important;
  color: maroon;
  margin-top: -15px;
  /* margin-bottom: 0px !important; */
  text-align: center;
}

.custom-divider {
  height: 3px;
  overflow: hidden;
  justify-content: center;
  background-image: linear-gradient(
    to right,
    #ffffff,
    #cacaca,
    #979797,
    #676767,
    #3b3b3b,
    #3b3b3b,
    #3b3b3b,
    #3b3b3b,
    #676767,
    #979797,
    #cacaca,
    #ffffff
  );

  margin-bottom: 1.2%;
}

.card {
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 15px;
  border: none;
  width: 90%;
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
}

.card-img-container {
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  text-align: center;
}

.card-img {
  width: 150px;
  height: auto;
}

.btn-maroon {
  background-color: maroon;
  border-color: maroon;
  color: white;
  width: auto;
  padding: 0.375rem 0.75rem;
  margin-top: 20px;
  margin-bottom: -10px;
}

.btn-maroon:hover {
  background-color: #c32148;
  border-color: #c32148;
}

.inp {
  display: flex;
  width: 50%;
  margin-bottom: 10px;
}

.inp-row {
  display: grid;
  width: 100vw;
  padding: 30px;
  margin-left: 30px;
}

.inp-field {
  display: flex;
  gap: 40px;
}

.form-label {
  flex-direction: row;
  text-wrap: nowrap;
  width: 100px;
  font-weight: 450;
  margin-left: 15px;
}

.form-name {
  font-weight: normal;
  margin-left: 5px;
}

.spinner {
  margin-top: 10px;
}

/* Adjust the form layout for mobile devices */
@media (max-width: 767px) {
  .inp-row {
    display: grid;
    width: 100vw;
    padding: 0px !important;
  }

  .card-img-container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
   
    text-align: center;
  }

  .card-img {
    width: 100px;
    height: auto;
  }

  .custom-divider {
    justify-content: center;
    background-image: linear-gradient(
      to right,
      #ffffff,
      #cacaca,
      #979797,
      #676767,
      #3b3b3b,
      #3b3b3b,
      #3b3b3b,
      #3b3b3b,
      #676767,
      #979797,
      #cacaca,
      #ffffff
    );

    margin-bottom: 5%;
    margin-top: 1%;
  }

  .expanded {
    margin-left: 50px;
    margin-right: 50px;
  }

  .collapsed {
    margin-left: 70px;
    margin-right: 50px;
  }

  .container {
    margin-top: 0% !important;
  }

  .title {
    font-size: 24px !important;
    color: maroon;
  }

  .card {
    box-shadow: none;
    transition: 0.3s;
    width: 100% !important;
    margin-top: 10% !important;
    margin-left: 1% !important;
    margin-bottom: 5%;
  }

  /* Add margin to the card */
  .card {
    margin: 2px;
  }

  .inp-field {
    display: flex;
    flex-direction: column;
    gap: 0px !important;
    /* Reduce the gap between input fields */
  }

  .inp {
    width: 100%;
    /* Set the width of input fields to full */
  }

  /* Add margin to the card */
  .card {
    margin: 2px;
  }

  .myinform {
    margin: 10px;
    /* Add margin to the form container */
  }

  .suv-btn {
    padding: 10px;
  }


  .card-container {
    max-width: 100%;
    overflow-x: auto;
    overflow-y: auto;
  }

  .success-message {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 70% !important;
    background-color: green;
    color: white;
    padding: 10px;
    text-align: center;
    z-index: 1000;
  }

  .error-message-notification {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 90% !important;
    background-color: red;
    color: white;
    padding: 10px;
    text-align: center;
    z-index: 1000;
  }
}

/* Additional styles for landscape orientation */
@media (max-width: 767px), (orientation: landscape) {
  .card {
    max-width: 100%;
    overflow-x: auto;
    overflow-y: auto;
  }


}
