<div class="container-fluid g-0">
    <app-header> </app-header>

    <main>
        <app-sidenav (toggle)="onToggleSidebar($event)"></app-sidenav>

        <div class="display-area" [ngClass]="{'expanded': isSidebarExpanded, 'collapsed': !isSidebarExpanded}">
            <div class="card">
                <div class="container p-2">
                    <form class="timesheetform" #timeSheetForm="ngForm" (submit)="saveTimesheet(timeSheetForm.value)">
                        <div class="inp-row">
                            <h2 class="title mb-3">TimeSheet for: {{u.userName}} </h2>
                            <input type="hidden" ngModel name="employeeId">
                            <div class="inp-field">
                                <div class="inp">
                                    <label class="form-label">Start Time</label>
                                    <input type="time" class="form-control" id="startTime" ngModel name="startTime">
                                </div>
                                <div class="inp">
                                    <label class="form-label">End Time</label>
                                    <input type="time" class="form-control" id="endTime" ngModel name="endTime">
                                </div>
                            </div>



                            <div class="inp-field">
                                <div class="inp">
                                    <label class="form-label">Date</label>
                                    <input type="date" class="form-control" id="date" [min]="minDate" [max]="maxDate">
                                </div>

                                <div class="inp">
                                    <label class="form-label">Project</label>
                                    <input type="text" class="form-control" id="projectId" ngModel name="projectId">
                                </div>
                            </div>


                            <div class="inp">
                                <label class="form-label">Note</label>
                                <textarea class="form-control" id="note" placeholder="Today's Task" ngModel
                                    name="note"> </textarea>
                            </div>


                            <div>
                                <div class="col text-end suv-btn">
                                    <button class="btn btn-maroon" type="reset">Reset</button>
                                    <button class="btn btn-maroon" type="submit">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


            <div class="card">
                <div class="container p-2">
                    <form>
                        <input type="text" id="myInput" placeholder="Search.." [(ngModel)]="searchTerm"
                            [ngModelOptions]="{standalone: true}" />
                        <div class="table-container">
                            <table class="table" id="myTable">
                                <tr class="header">
                                    <th style="width:15%;">User-ID</th>
                                    <th style="width:15%;">First name</th>
                                    <th style="width:20%;">Last name</th>
                                    <th style="width:15%;">Department</th>
                                    <th style="width:15%;">Designation</th>
                                    <th style="width:10%;">View</th>
                                </tr>

                                <tr *ngFor="let user of users | filter : searchTerm">
                                    <td>{{ user.userId }}</td>
                                    <td>{{ user.firstName }}</td>
                                    <td>{{ user.lastName }}</td>
                                    <td>{{ user.dept?.deptName }}</td>
                                    <td>{{ user.designation }}</td>
                                    <td>
                                        <div class="icon-container">
                                            <button mat-button (click)="navigateToTs(user.userId)">View</button>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div *ngIf="isLoading" class="loading-bar">
                            <div class="spinner-container">
                                <mat-spinner mode="indeterminate" color="warn" diameter="30"></mat-spinner>
                            </div>
                        </div>

                        <div class="load-button">
                            <button (click)="loadMoreUsers()" *ngIf="hasMoreResult" mat-raised-button color="primary"
                                style="background-color: maroon;" class="rounded-pill align-middle text-center">
                                Load More
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>